html, body {
  margin: 0;
  padding: 0;
}
/* INTRO */
.container{
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 25px;;
  width: 50vw;
}
.gradient{
  background-image: linear-gradient(to right, hotpink, orangered);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
}
.outline{
  color: white;
  /* background: -webkit-linear-gradient(-180deg, orangered 0%, hotpink 100%); */
  /* x | y | blur */
  text-shadow: -2px 2px 1px black,
  1.5px 1px 1px hotpink,
  -1px -1px 1px hotpink,
  1px -1.5px 1px orangered;
  /* 1px -1px 1px orangered; */

/* -webkit-background-clip: text;
-webkit-text-fill-color: transparent; */
font-size: 48px;
display: block;
}
p{
  font-weight: bold;
  font-size:18px;
}
.container p:nth-of-type(1):first-letter{
  background: -webkit-linear-gradient(-180deg, orangered 0%, hotpink 100%);
  padding: 5px 10px;
  color: white;
  font-size: 24px;
  font-family: serif;
}
.container p:not(:nth-of-type(1)){
  font-size: 14px;
  color:grey;
}
/* CHOOSE STORY */
.choose-story-container{
  padding: 25px;
  border: 2px solid black;
  border-radius: 10px;
}
button{
  border: none;
  border-radius: 50px;
  background: -webkit-linear-gradient(-180deg, orangered 0%, hotpink 100%);
  color: white;
  padding:10px 20px;
  font-size: 16px;
  cursor: pointer;
}